.file-view {
	position: relative;
	margin:auto;
}
.file-icon {
	position: relative;
	float: left;
	margin: 10px;
}
.file-icon-name {padding-top:10px;}
.file-icon-opt {position: absolute;top: 0px;right: 0px;}

